.footer-container{
    background-color: #34495E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    height:5vh;
    position: fixed;
}

a:visited{
    color: white;
}

a:hover{
    color: blue;
}

